# OS
.DS_Store

# Build artifacts
extension.zip
.next/
*.log
*.tmp

# Node
node_modules
package-lock.json

# Editor settings
.vscode/
.idea/

# Config/Env files
next-env.d.ts
next.config.ts
postcss.config.mjs

